body {
    color:navy;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    background-image: url(/2022-Fall/Pics/Sky02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;

}

a {color: black; text-decoration: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {color: dodgerblue; background-color: none; text-decoration: none;}

#top {
    background-size: 100% 100%;
}

.d1 {
    height: 80vh;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15%;
    padding-left: 50%;
}

.d2 {
    margin-left: 15%;
    margin-right: 15%;
    background-color:aliceblue;
    padding: 10px;
}


.d3-d4 {
    margin-left: 15%;
    margin-right: 15%;
    display: block;
}

#d3 {
    float: left;
}

#d3a {
    height: 970px;
}

#d4a {
    text-align: center;
}

#d4b {
    height: 640px;
}

#post1 {text-align: center;}
.c1 {
    width: 160px;
    height: 120px;
    display: inline;
}

#post2 {padding-bottom: 130px;}
.c2 {
    width: 160px;
    height: 120px;
    display: block;
    float: left;
    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;
}

#post3 {padding-bottom: 40px;}
.c3 {
    width: 160px;
    height: 120px;
    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;
}
#c3p1 {float: left;}
#c3p3 {float: right;}
#c3p2 {text-align: center;}

#post4 {padding-bottom: 120px;}
.c4 {
    width: 160px;
    height: 120px;
    display: block;

    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;

    float: left;
    position: absolute;
}

#post5 {height: 240px;}
#post5::after {display: table; content: ""; clear: both;}
.c5 {
    float: left;
    margin: 1%;
    position: absolute;
    z-index: 0;
    
    border: 1px solid black;
    border-radius: 5px;
    width: 70px;
    height: 60px;
    transition: width 0.6s, height 0.6s;
    transition-timing-function: ease-in-out;
}
.c5:hover {
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.5);
    width: 240px;
    height: 200px;
}
#c5p1:hover {z-index: 1;}
#c5p2:hover {z-index: 1;}
#c5p3:hover {z-index: 1;}
#c5p4:hover {z-index: 1;}
#c5p5:hover {z-index: 1;}
#c5p6:hover {z-index: 1;}
#c5p7:hover {z-index: 1;}
#c5p8:hover {z-index: 1;}
#c5p9:hover {z-index: 1;}
#c5p10:hover {z-index: 1;}

#n1 {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}

#n2 {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: aliceblue;
}

.n3 {
    float: left;
    font-size: large;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.n3 a {
    display:grid;
    font-weight: 700;
    text-decoration: none;
}

.n3 a:hover {
    background-color: navy;
    color: aliceblue;
    transform: scale(1.8);
}

footer {
    text-align: center;
}

#bottom {
    margin-left: 15%;
    text-align: left;
}

#f1 {
    text-decoration: underline;
    font-size: x-large;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 6px;
}

#f2 {
    color: darkblue;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 10px;
}

#f3 {
    color: white;
    background-color: navy;
    font-size: 16px;
    padding: 5px 30px;
    margin-top: 0%;
    margin-bottom: 18px;
    border-radius: 10px;
    border: none;
}

#f4 {
    margin-top: 0%;
    margin-bottom: 2%;
}